
  <h1>#{title}</h1>
  <button type="button" class="btn btn-primary" id="startQuote">Start your quote now</button>
  <p>Welcome to #{title}. This tool allows you to get a 
    base quick quote in only a few simple steps.</p>
  
  <p>Please use a mobile device for best results.</p>
